.ant-col {
  width: 100%;
}

body {
  .ant-message {
    z-index: 999999;
  }
}

.ant-image-preview-root img {
  display: unset;
}

.ant-menu-sub.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
  color: #1890FF;
}

.ant-btn-link {
  padding: 4px 0px;
}